import tkinter as tk
import tkinter.messagebox
from tkinter import *
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
import requests
import json
import time




# Define the login function
def login(username, password,element):
    driver = webdriver.Chrome("C:/Users/Be2Seeuser/Downloads/chromedriver_win32 (2)/chromedriver.exe")
    driver.get("https://sso.afeka.ac.il/my.policy")

    username_input = driver.find_element(By.CLASS_NAME, "credentials_input_text")
    username_input.send_keys(username)

    password_input = driver.find_element(By.CLASS_NAME, "credentials_input_password")
    password_input.send_keys(password)

    login_button = driver.find_element(By.CSS_SELECTOR, ".submit_button.submit_button")
    login_button.click()

    driver.get("https://yedion.afeka.ac.il/yedion/fireflyweb.aspx?prgname=LoginValidation")
    icon_menu = driver.find_element(By.CLASS_NAME, "IconMenu")
    icon_menu.find_elements(By.CLASS_NAME, "ButtonMenuLink")[4].click()

    icon_menu2 = driver.find_element(By.XPATH, "//div[@class='text TextCenter']")
    icon_menu2.click()

    icon_menu3 = driver.find_element(By.XPATH, "//div[@class='NotInUse col-12 TitleOfGroup']")
    icon_menu3.click()

    while True:
        grades_section = driver.find_element(By.XPATH, element)
        grades_text = grades_section.text

        fifth_line = grades_text.splitlines()[4]
        fifth_line_length = len(fifth_line)

        url = 'https://api.pushbullet.com/v2/pushes'
        api_key = 'o.Qi8fbmVYD3K9Gwu3FRre0LvHIZyaOGuS'
        message = grades_text

        payload = {
            'type': 'note',
            'title': 'New Grade',
            'body': message
        }
        response = requests.post('https://api.pushbullet.com/v2/pushes',
                                 data=payload,
                                 headers={'Authorization': 'Bearer ' + api_key})
        if response.status_code == 200:
            print('Notification sent successfully!')

        if fifth_line_length != 10:
            print(grades_text)
            tkinter.messagebox.showinfo("Your Grade",grades_text)
            driver.close()
            break

        else:
            driver.refresh()
            icon_menu3 = driver.find_element(By.XPATH, "//div[@class='NotInUse col-12 TitleOfGroup']")
            time.sleep(10)
            icon_menu3.click()


# Create the Tkinter window
window = tk.Tk()
window.title("Login")

# Add the welcome label
label = tk.Label(window, text="Please enter your username and password:")
label.pack()

# Add the username input and label
username_label = tk.Label(window, text="Username:")
username_label.pack()
username_input = tk.Entry(window)
username_input.pack()

# Add the password input and label
password_label = tk.Label(window, text="Password:")
password_label.pack()
password_input = tk.Entry(window, show="*")
password_input.pack()

#element
element_label = tk.Label(window, text="MYFATHER 1 המשמעות היא הציון הראשון שקיים אצלך במערכת"
                                      "תבדוק לפני השימוש את הציון שאתה מעוניין שהמערכת"
                                      "תבדוק באופן אוטומטי")
element_ids = ["//div[@id='MyFather6']","//div[@id='MyFather1']","//div[@id='MyFather2']","//div[@id='MyFather3']","//div[@id='MyFather4']","//div[@id='MyFather5']"]
element_label.pack()
element_input = Listbox(window,selectmode=SINGLE)
for element_id in element_ids:
    element_input.insert(END, element_id)
element_input.pack()



# Add the login button
def on_login_button_click():
    username = username_input.get()
    password = password_input.get()
    element = element_ids[element_input.curselection()[0]]
    driver = login(username, password,element)
    #check_grades(driver)

login_button = tk.Button(window, text="Login", command=on_login_button_click)
login_button.pack()

# Run the Tkinter event loop
window.mainloop()
